.questionSelect {
    appearance: none;
    font-family: inherit;
    font-size: 1em;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: #272727;
    text-align: center;
    cursor: pointer;
    padding: 0px 4px 0px 4px;
}

.numberInput {
    appearance: none;
    font-family: inherit;
    width: 150px;
    font-size: 1em;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: #272727;
    text-align: center;
    cursor: pointer;
    padding: 0px 4px 0px 4px;
}

.numberInput:focus {
    outline: none;
    border: 1px solid transparent;
    background-color: #272727;
    border-radius: 8px;
}

.questionSelect:hover {
    border: 1px solid field;
}

select:focus {
    outline: none;
    border: 1px solid transparent;
    background-color: #272727;
    border-radius: 8px;
}

.questionOption {
    appearance: none;
    cursor: pointer;
}

select .questionOption {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #242424;
}

.questionOption:hover {
    border: 1px solid #242424;
    background-color: field !important;
}